# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Create Headings
* List Popular Languages in Data Science
* List commonly used Libraries in Data Science
* Create a Single Column table
* Give Few Examples of evaluating Aithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA
5. C++

Some of the commonly uses libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Sickit-Learn
5. TensorFlow
6. ggplot

| Data Science Tools |
| ------------------ |
| JupyterIDE |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Pratyush Sinha